<div class="row">
	<div class="span8">
		<h3>{{page_title}}</h3>

		<form method="POST" action="/create">

			<label for="thenamebox">
				Name <input type="text" name="name" id="thenamebox" required> 
			</label>


			<label for="birthdate">
				Birthdate <input type="date" name="birthdate" id="birthdate"> 
			</label>

			<label for="skills">
				Skills <input type="text" name="skills" id="skills"> 
			</label>			

			<label for="photoUrl">
				Photo URL <input type="text" name="photoUrl" id="photoUrl"> 
			</label>


			<label for="source_name">
				Source name <input type="text" name="source_name" id="source_name"> 
			</label>
			
			<label for="source_url">
				Source URL <input type="text" name="source_url" id="source_url"> 
			</label>

			<label for="walkedonmoon">
				Has walked on moon? <input type="checkbox" name="walkedonmoon" id="walkedonmoon"> 
			</label>

			
			<input type="submit" value="Add Astronaut">

		</form>
	</div>
</div>






