<div class="row">

	<div class="span6">

		<h1>ExpressJS + Templates Demo</h1>
		
		<img src="http://i.imgur.com/ASfCs.gif" alt="Space shuttle animated gif crossing an LA highway">
		
		<hr>

		<h3>{{pageTitle}}</h3>

		{{#astros}}
		<div class="row">
			<div class="span4">
				<a href="/astronauts/{{slug}}">{{name}}</a>
			</div>
		</div>
		{{/astros}}

		<hr>
		<p>
			<a href="/create">Create a new astronaut</a>
		</p>
	</div>

	<!-- right column -->
	<div class="span6">
		<h3>The Demo</h3>
		<li>
			<a class="btn" href="https://github.com/johnschimmel/Heroku-ExpressJS-Boilerplate">Github Repo</a>
		</li>
		<li>[ExpressJS](http://expressjs.com) framework</li>
		<li>[Hogan-Express](https://github.com/vol4ok/hogan-express) Template Engine</li>
	</div>


</div>